/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
*/
 
 
/* app/assets/stylesheets/application.css */
/* Reset básico */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  list-style: none;
}

 /* Body */
 .main {
   font-family: Arial, sans-serif;
   background-color: #ee5c5c;
   display: grid;
   grid-template-columns: auto auto auto auto;
 }

 .header {
  grid-column-start: 1;
  grid-column-end: 5;
 }



.text-white {
  color: white;
}

/* Menu */
.menu {
  grid-column-start: 1;
  grid-column-end: 1;
  height: 100vh;
  background-color: #776969;
} 

/* Container */
.container {
  grid-column-start: 2;
  grid-column-end: 4;
  background-color: rgb(149, 202, 248);
}
 
/* Estilo para o contêiner geral */
.card {
  background-color: #f8f9fa;         
  padding: 20px;                     
  border-radius: 10px;              
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
}
/* Estilo para cada post individual */
/* Estilo do link que envolve o post card */
.post-card-link {
  text-decoration: none;            
  display: block;                   
  color: inherit;                    
}

/* Estilo do post card */
.post-card {
  background-color: #fff;            
  border-radius: 8px;                
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
  margin-bottom: 20px;               
  padding: 20px;                     
  transition: box-shadow 0.3s ease, background-color 0.3s ease; 
}

/* Efeito de hover para o post card */
.post-card-link:hover .post-card {
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.6); 
  background-color: #f8f9fa;                
}

.btn-new-post {
  display: inline-block;            
  background-color: #28a745;        
  color: white;                     
  margin: 20px;
  padding: 10px 20px;               
  text-align: center;               
  text-decoration: none;            
  border-radius: 5px;               
  font-weight: bold;                
  transition: background-color 0.3s ease; 
}

/* Efeito hover para o botão */
.btn-new-post:hover {
  background-color: #218838;        
}

.footer {
  grid-column-start: 1;
  grid-column-end: 5;
  background-color: rgb(127, 182, 255);
  height: 50px;
}